

/* Ajustes para hacer que el slider ocupe el tamaño adecuado */
.swiper {
    width: 100%;
    max-width: 1200px;
}
.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #fff;
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #e69e22;
}

/* Oculta las flechas predeterminadas de Swiper */
.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

